*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Common */
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.text-white {
  color:#fff !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.btn {
    padding: 11px 16px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .btn:hover {
    color: #000;
    background-color: #ccc;
  }

.clear {
  clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width:33.3333%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
  margin-top: 32px !important;
}


/* Main */

#main {

}

.text-white {
    color: #fff !important;
}

#header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    height: 46px;
    background-color: black;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
}

#nav .nav-arrow-down {
    font-size:14px;
}

#nav, .subnav {
    list-style: none;
}

#nav {
    display:inline-block;
}

#nav > li {
    display:inline-block;
}

#nav li {
    
    position: relative;
    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:block;
    width: 100%;
    
}

#nav li:hover .subnav {
    display:block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    position: absolute;
    min-width: 160px;
    top:100%;
    background-color: white;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
    display:none;
    
}

#nav .subnav a {
    color:black;
    padding:0 16px;
    line-height: 38px;
}

#header .search-btn,
#header .mobile-menu-btn {
    float: right;
    line-height:46px;
}

#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor:pointer;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .search-icon,
#header .menu-icon {
    color:#fff;
    font-size:14px;
    padding:0 24px;
}

#slider {
    margin-top:46px;
    padding-top:50%;
    background: url('../img/slider1.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position:absolute;
    bottom:47px;
    width: 100%;
    color:white;
    text-align: center;
}

#slider .text-heading  {
    font-weight: 400px;
    font-size:24px;
    margin:25px 0;
}

#slider .text-subheading {
    font-size:15px;
    text-shadow: 0 0 2px #000;
}

#content {

}

#content .content-section {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0 112px;
  padding-left: 16px;
  padding-right: 16px;
}

#content .section-heading {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 4px;
}

#content .section-subheading {
  text-align:center;
  font-size: 15px;
  margin: 25px 0;
  font-style: italic;
  opacity: 0.5;
}

#content .about-text {
  text-align: justify;
  font-size: 15px;
  line-height: 1.4;
}

#content .member-list {
    margin-top: 32px;
    overflow: hidden;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

/* Tour section */
.tour-section {
  background: #000;
}

.tickets-list {
  background-color: #fff;
  margin-top: 40px;
}

.tickets-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
  list-style: none;
}

.tickets-list .soldout {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quantity {
  background-color: black;
  color: white;
  float: right;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}
/* Places */
.places-list {
  margin-top: 16px;
}

.places-img {
  width: 100%;
  display: block;
}

.places-img:hover {
  opacity: 0.6;

}

.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}
.place-heading {
  font-size: 15px;
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-info a {
  color: #101aef;
  opacity: 0.8;
}

.contact-info a:hover {
  opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

.socials-list {
    font-size: 24px;
}

.socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.socials-list a:hover,
#footer .copyright a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.map-section img {
    width: 100%;
}

/* Modal section */
.modal {
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal.open {
  display: flex;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease .5s;
}

.modal-header {
  background: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
}

.modal-heading-icon {
  margin-right: 16px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
}

.modal-close:hover {
  opacity: 1;
  
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#buy-tickets {
  background: #009688;
  border: none;
  color: white;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
  cursor: pointer;
}

#buy-tickets:hover {
  opacity: 0.9;
}

.modal-footer {
  padding: 16px;
  text-align: right;
}

.modal-footer a {
  color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        transform:translateY(-140px);
        opacity: 0;
    }
    to {
        transform:translateY(0px);
        opacity: 1;
    }
}