*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

.text-white {
    color: #fff !important;
}

#header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    height: 46px;
    background-color: black;
    position:fixed;
    top:0;
    left:0;
    right:0;
}

#nav .nav-arrow-down {
    font-size:14px;
}

#nav, .subnav {
    list-style: none;
}

#nav {
    display:inline-block;
}

#nav > li {
    display:inline-block;
}

#nav li {
    
    position: relative;
    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:block;
    width: 100%;
    
}

#nav li:hover .subnav {
    display:block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    position: absolute;
    min-width: 160px;
    top:100%;
    background-color: white;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
    display:none;
    
}

#nav .subnav a {
    color:black;
    padding:0 16px;
    line-height: 38px;
}

#header .search-btn {
    float: right;
    line-height:46px;

}

#header .search-btn:hover {
    background-color: #f44336;
    cursor:pointer;
}

#header .search-icon {
    color:#fff;
    font-size:14px;
    padding:0 24px;
}

#slider {
    margin-top:46px;
    padding-top:50%;
    background: url('https://trannguyenvu3482.github.io/TheBandF8/assets/img/slider1.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position:absolute;
    bottom:47px;
    width: 100%;
    color:white;
    text-align: center;
}

#slider .text-heading  {
    font-weight: 400px;
    font-size:24px;
    margin:25px 0;
}

#slider .text-subheading {
    font-size:15px;
}

#content {


}

#content .content-section {
    width:800px;
    margin-left:auto;
    margin-right:auto;
    padding:64px 0;
}
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    text-align: justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;
}

#content .member-list {
    margin-top:48px;
    overflow: hidden;
}

#content .member-item {
    float:left;
    width: 33.3333%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;


}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

/* Tour Section */

.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
}

.ticket-list li {
    font-size:15px;
    padding:11px 16px;
    border-bottom: 1px solid #ddd;
    color:#757575;
    list-style: none;
}

.ticket-list .soldout {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    background-color: #000;
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

#footer {

}
